/**/
/* -- HEARTHIS CSS FRO TEX-REC */
/**/
/**/
::-webkit-scrollbar {
	width: 6px;
	background: transparent;
}

::-webkit-scrollbar-track {
	margin: 0;
}

::-webkit-scrollbar-thumb {
	background: #999;
	border-radius: 3px;
}

.fancybox-inner {
	overflow: visible !important;
}

.fancybox-wrap {
	width: 100% !important;
	height: 100% !important;
	position: fixed !important;
	top: 0px !important;
	left: 0px !important;
	overflow: visible !important;
	right: 0px !important;
	bottom: 0px !important;
	border-radius: 0px !important;
}

.fancybox-skin {
	width: 100% !important;
	height: 100% !important;
	box-shadow: none !important;
	box-shadow: none !important;
	border-radius: 0;
	background: rgba(255, 255, 255, 0.95);
}

.fancybox-inner {
	width: 100% !important;
	height: 100% !important;
	text-align: center !important;
}

.fancybox-close {
	top: 5px;
	right: 5px;
}

.fancybox-overlay {
	background: transparent;
}

canvas {
	cursor: default;
}

html {
	height: 100%;
}

body {
	background: rgba(0, 0, 0, 0);
	height: 100%;
}

ul.playlist li.black canvas {
	color: #FFFFFF;
}

body:after {
	content: " ";
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 0;
	opacity: 0.7;
	-webkit-transition: all 1s;
	background: #000 url(https://images.hearthis.at/c/r/o/_/uploads/12410/image_set_bg/134177/w800_h800_btrue_c000000_q50_m1579526691----cropped_1579369815604.jpg) center center no-repeat;
	background-position: center !important;
	background-size: cover !important;
}

body {
	background: #000 !important;
}

/**/
/*player-fulwidth*/
/**/
.fullwidth ul.playlist li.half canvas, ul.playlist.top li canvas {
	height: 50px;
	top: 50px;
	opacity: 0;
}

.fullwidth ul.playlist li canvas.rendered, ul.playlist.top li canvas.rendered {
	opacity: 1;
}

.fullwidth ul.playlist li.sm2_playing.half canvas.rendered, .fullwidth ul.playlist li.sm2_paused.half canvas.rendered, ul.playlist.top li canvas.rendered, ul.playlist li.highlight canvas.rendered {
	opacity: 1;
}

.fullwidth ul.playlist li .infobits {
	right: 0px;
}

ul.playlist li .functions {
	position: absolute;
	display: block;
	bottom: 22px;
	left: 3px;
	opacity: 1;
	font-size: 12px;
	padding-top: 0;
}

ul.playlist li {
	display: block;
	width: auto;
	color: #FFF;
	text-decoration: none rgba(0, 0, 0, 0);
	position: relative;
}

ul.playlist li canvas {
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
	background-color: rgba(55, 55, 55, 0);
}

@media only screen and (max-width: 980px) {
	.fullwidth ul.playlist li {
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
	}
}

@media only screen and (max-width: 400px) {
	.fullwidth ul.playlist li {
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
	
	.fullwidth ul.playlist li .infobits {
		right: 0px;
	}
	
	.fullwidth ul.playlist li .functions {
		left: 0px;
	}
}

@media only screen and (max-width: 400px) {
	.fullwidth ul.playlist li.with-image {
		margin-left: 95px !important;
	}
	
	ul.playlist li.with-image::before, ul.playlist li.with-image .cover, ul.playlist li.with-image::after {
		display: block !important;
		width: 80px;
		height: 80px;
		left: -90px !important;
	}
}

ul.playlist li .note {
	padding: 0px 10px 0px 10px;
	box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.3);
}

#global_content .fullwidth .highlight {
	margin-bottom: 36px;
	top: 3px;
}

#global_content .fullwidth .highlight:before {
	content: " ";
	position: absolute;
	left: -130px;
	top: -15px;
	right: -20px;
	bottom: -15px;
	z-index: 0;
	background-position: center !important;
	background-size: cover !important;
	opacity: 1;
	background: #000;
}

#global_content .fullwidth .highlight:after {
	content: " ";
	position: absolute;
	left: -130px;
	top: -15px;
	right: -20px;
	bottom: -15px;
	z-index: 0;
	background-position: center !important;
	background-size: cover !important;
	opacity: 0.7;
	-webkit-transition: all 1s;
	transition: all 1s;
}

.track-detail-header ul.playlist {
	padding: 0px 25px !important;
}

.track-detail-header ul.playlist li {
	margin-left: 0px !important;
}

.track-detail-header ul.playlist li .dna_container {
	height: 5px !important;
	top: 300px;
}

.track-detail-header ul.playlist li canvas {
	height: 50px;
	top: 250px;
}

.track-detail-header ul.playlist li .infobits {
	display: none;
}

.track-detail-header ul.playlist li .time, .track-detail-header ul.playlist li .timing {
	top: 275px;
	right: 10px;
}

.track-detail-header ul.playlist li .headline i.text-right {
	right: 0px;
}

.track-detail-header ul.playlist li .cover {
	left: 0px;
}

.track-detail-header ul.playlist li .player-link {
	left: 125px;
	width: 45px;
	height: 45px;
}

.track-detail-header ul.playlist li .player-link i {
	left: 14px;
	top: 13px;
}

.track-detail-header ul.playlist li .player-link i.fa-play {
	left: 16px;
	top: 13px;
}

.track-detail-header ul.playlist li .headline {
	left: 190px;
	top: -6px;
	font-size: 20px;
	line-height: 24px;
}

.track-detail-header.with-image ul.playlist li, .track-detail-header:after {
	-webkit-transition: opacity 2s;
	transition: opacity 2s;
}

.track-detail-header.with-image ul.playlist li.sm2_playing {
	opacity: 0.3;
}

.track-detail-header.with-image:hover ul.playlist li {
	opacity: 1 !important;
}

.track-detail-header.with-image.playing:after {
	opacity: 1;
}

.track-detail-header.with-image.playing:hover:after {
	opacity: 0.7 !important;
}

/**/
/*Extra CODES*/
/**/
ul.playlist li .headline span {
	display: inline-block;
	text-decoration: none;
	color: #888;
	outline: none;
	font-size: 13px;
	font-weight: 400;
	padding-right: 5px;
	line-height: 16px;
	width: 100%;
	font-family: 'Open Sans', Helvetica, Arial, serif;
	font-weight: 400;
}

ul.playlist li.black .player-link span, ul.playlist li.black .headline, ul.playlist li.black .headline a, ul.playlist li.black .headline span {
	color: #FFF;
}

ul.playlist li.black .headline .roof, ul.playlist li.black .headline .roof a, ul.playlist li.black .headline .roof span {
	color: #DDD !important;
	font-size: 13px;
}

ul.playlist li.black .player-link, ul.playlist li.black.sm2_playing, ul.playlist li.black.sm2_paused, ul.playlist li.black.sm2_playing .player-link {
	color: #FFFFFF;
	border-color: rgba(255, 255, 255, 0.901);
	background: 0 0 rgba(255, 255, 255, 0) !important;
}

.player-link {
	margin: 10px 0 0 10px;
}

/**/
/**/
/**/
/**/
.fullwidth ul.playlist li {
	margin: 20px;
}

.timing, .time {
	display: none !important;
}

.set_embed {
	position: absolute;
	z-index: 1;
	height: 100%;
	width: 100%;
	overflow: hidden;
	display: block;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

/*TABLE*/
.fullwidth {
	margin: 0;
	width: 100%;
	height: auto;
	position: absolute;
}

#set-table {
	width: 100%;
	height: auto;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	z-index: 1;
	border-top: 1px solid #646464;
	padding-top: 0px;
	letter-spacing: 0.5px;
	top: 205px;
	border-radius: 20px 20px 0 0;
	/*visibility: hidden;*/
}

#set-table:after {
	content: " ";
	position: absolute;
	left: 0px;
	top: 0;
	right: 5px;
	bottom: 0px;
	z-index: -1;
	opacity: 0.3;
	-webkit-transition: all 1s;
	background: rgba(0, 0, 0, 0);
}

#set-table table {
	width: 100%;
	border: 0px solid #DDDDDD;
	margin: 0;
	border-radius: 0px;
	background: transparent;
}

#set-table .infobits span {
	display: inline-block;
	margin-right: 5px;
}

#set-table .current {
	background: rgba(79, 36, 160, 0.625);
	color: #FFFFFF !important;
	-webkit-transition: all .6s;
	transition: all 0.7s;
}

#set-table .current:hover {
	background: rgba(31, 22, 47, 0.625);
	color: #FFFFFF !important;
	-webkit-transition: all .6s;
	transition: all 0.7s;
}

#set-table .current a {
	color: #FFFFFF !important;
	-webkit-transition: all .6s;
	transition: all 0.7s;
}

#set-table .current a:hover {
	background: rgba(31, 22, 47, 0.625);
	color: #FFFFFF !important;
	-webkit-transition: all .6s;
	transition: all 0.7s;
}

#set-table .infobits {
	float: right;
}

table tbody tr td {
	padding: 0 0 2px 0;
	-webkit-transition: all .6s;
	transition: all 0.7s;
}

#set-table table a {
	color: #FFFFFF;
	padding: 9px 10px;
	display: block;
	-webkit-transition: all .6s;
	transition: all 0.7s;
}

table tbody tr:nth-child(even) {
	background: rgba(0, 0, 0, 0.172);
	-webkit-transition: all .6s;
	transition: all 0.7s;
}

/**/
/*PLAYER CODES*/
ul.playlist li .headline {
	display: block;
	text-decoration: none;
	color: #000;
	outline: none;
	position: absolute;
	z-index: 212;
	font-size: 18px;
	font-weight: 700;
	left: 50px;
	top: -5px;
	right: 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-family: 'Open Sans', Helvetica, Arial, serif;
	font-weight: 400;
	line-height: 29px;
	margin: -10px 0 0 20px;
}

ul.playlist li.black .player-link span, ul.playlist li.black .headline, ul.playlist li.black .headline a, ul.playlist li.black .headline span {
	color: #FFFFFF !important;
	font-size: 20px;
	letter-spacing: 1px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.888);
}

.fa {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: 400;
	line-height: 0.9;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
}

ul.playlist li.black .player-link i {
	color: #FFF !important;
}

ul.playlist li .player-link i.fa-play, ul.playlist li.sm2_paused .player-link i.fa-play {
	display: block !important;
}

ul.playlist li .controls .statusbar {
	position: relative;
	height: 60px;
	overflow: hidden;
	cursor: pointer;
	z-index: 1;
	background: rgba(5, 0, 17, 0);
	margin: -26px 0 0;
	border-bottom: 1px solid rgba(242, 242, 242, 0.448);
}

ul.playlist li:hover .controls .statusbar {
	position: relative;
	cursor: ew-resize;
}

ul.playlist li .controls .statusbar .position, ul.playlist li .controls .statusbar .loading, ul.playlist li .controls .statusbar .annotation {
	position: absolute;
	left: 0;
	top: 0;
	height: 0.5em;
}

ul.playlist li .player-link {
	display: block;
	text-decoration: none;
	color: #333;
	outline: none;
	position: relative;
	z-index: 10;
	font-size: 16px;
	font-weight: 700;
	-webkit-transition: all .2s;
	transition: all 0.2s;
	width: 38px;
	height: 38px;
	border: 2px solid rgba(239, 183, 178, 0);
	border-radius: 50%;
	margin: 0 0 0 13px;
}

ul.playlist li .player-link i {
	-webkit-transition: all .5s;
	transition: all 0.5s;
}

ul.playlist li .player-link:hover {
	background: #000000 !important;
}

ul.playlist li.sm2_playing .player-link, ul.playlist li.sm2_paused .player-link {
	background: rgba(202, 22, 6, 0) !important;
}

ul.playlist li .cover {
	display: block;
	position: absolute;
	top: -5px;
	left: -160px;
	width: 160px;
	height: 160px;
	z-index: 1;
	border-radius: 20px;
	/*+box-shadow: 2px 5px 10px 3px #121212;*/
	-moz-box-shadow: 2px 5px 10px 3px #121212;
	-webkit-box-shadow: 2px 5px 10px 3px #121212;
	box-shadow: 2px 5px 10px 3px #121212;
	border: 1px solid rgba(64, 64, 64, 0.267);
	-webkit-transition: all .6s;
	transition: all 0.7s;
}

.fullwidth ul.playlist li .functions {
	left: 0;
}

ul.playlist li:hover canvas, ul.playlist li:hover .functions, ul.playlist li:hover .time, ul.playlist li:hover .infobits, ul.playlist li:hover .dna_container {
	opacity: 1 !important;
}

ul.playlist li.sm2_playing .functions, ul.playlist li.sm2_paused .functions {
	opacity: 1;
}

ul.playlist li .infobits {
	position: absolute;
	display: block;
	top: 110px;
	right: 5px;
	z-index: 20;
	color: #888;
	font-size: 11px;
}

ul.playlist li.black .infobits {
	color: #FFFFFF;
}

ul.playlist li .infobits span {
	display: inline-block;
	margin-right: 8px;
}

ul.playlist li .functions i, ul.playlist li .infobits i {
	font-size: 11px;
}

ul.playlist li .infobits i {
	margin-right: 5px;
	font-size: 11px;
}

.fullwidth ul.playlist li.with-image, ul.playlist.top li.with-image {
	margin-left: 165px;
	margin-right: 9px;
}

a:hover {
	color: #666;
	-webkit-transition: all .6s;
	transition: all 0.7s;
	background: rgba(31, 22, 47, 0.625);
	color: #FFFFFF !important;
}

a:focus {
	color: #666;
	background: rgba(57, 50, 70, 0.539);
	color: #FFFFFF !important;
	-webkit-transition: all .6s;
	transition: all 0.7s;
}

/**/
ul.playlist li .functions {
	/*top: 124px;*/
	font-size: 15px;
	color: #DBDBDB;
	padding: 10px 12px;
	border-radius: 8px;
}

/**/
ul.playlist li .infobits {
	color: #2A2A2A;
	top: 118px;
	background: rgba(255, 255, 255, 0.483);
	font-size: 16px;
	font-weight: 500;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.328);
	padding: 10px 19px 12px;
	border-radius: 10px;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.448);
	/*+box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.194);*/
	-moz-box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.194);
	-webkit-box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.194);
	box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.194);
	height: 40px;
}

ul.playlist li.black .infobits {
	color: #262626;
}

ul.playlist li.sm2_playing .infobits, ul.playlist li.sm2_paused .infobits {
	top: 118px;
}

/**/
.spacer {
	margin: 20px 0 0;
}

.controls {
	margin: 0 0 20px 0;
}

.functions {
	margin-bottom: -19px;
	border-radius: 8px;
	float: right;
	height: 40px;
}

/**/
ul.playlist.top li .functions, ul.playlist li.highlight .functions {
	opacity: 1;
}

ul.playlist li .functions span, ul.playlist li .functions a {
	display: inline-block;
	border-radius: 0;
	font-size: 11px !important;
	vertical-align: middle;
	z-index: 200;
	cursor: pointer;
	outline: 0px;
	text-decoration: none;
	border: 0;
	border-radius: 3px;
	border: 1px solid #C7C7C7;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	transition: all 0.2s;
	line-height: 20px;
}

ul.playlist li .functions span:hover, ul.playlist li .functions a:hover {
	/*border: 1px solid #D0D0D0;*/
	color: #D1D1D1;
	background-color: #2C2C2C;
}

ul.playlist li .functions span:active {
	border: 1px solid #767676;
}

ul.playlist li.black .functions span:hover, ul.playlist li.black .functions a:hover {
	border: 1px solid rgba(174, 174, 174, 0.800);
	/*+box-shadow: 1px 2px 5px 1px rgba(60, 60, 60, 0.888);*/
	-moz-box-shadow: 1px 2px 5px 1px rgba(60, 60, 60, 0.888);
	-webkit-box-shadow: 1px 2px 5px 1px rgba(60, 60, 60, 0.888);
	box-shadow: 1px 2px 5px 1px rgba(60, 60, 60, 0.888);
	color: rgba(22, 22, 22, 0.737);
	background: rgba(204, 204, 204, 0.668);
}

ul.playlist li.black .functions span, ul.playlist li.black .functions a {
	-webkit-transition: all .6s;
	transition: all 0.7s;
	color: #2F2F2F;
	background: rgba(255, 255, 255, 0.668);
	font-size: 16px;
	font-weight: 500;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.328);
	border-radius: 10px;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.448);
	/*+box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.194);*/
	-moz-box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.194);
	-webkit-box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.194);
	box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.194);
	line-height: 3;
	letter-spacing: 1.4px;
	color: #282828;
	margin: 0 10px 0 0;
	border: 1px solid rgba(72, 72, 72, 0.800);
	/*+box-shadow: 1px 2px 5px 1px rgba(18, 18, 18, 0.888);*/
	-moz-box-shadow: 1px 2px 5px 1px rgba(18, 18, 18, 0.888);
	-webkit-box-shadow: 1px 2px 5px 1px rgba(18, 18, 18, 0.888);
	box-shadow: 1px 2px 5px 1px rgba(18, 18, 18, 0.888);
	color: rgba(255, 255, 255, 0.737);
	background: rgba(25, 25, 25, 0.668);
	text-transform: uppercase;
	padding: 2px 12px;
}

ul.playlist li .functions .active {
	background: 0 0 !important;
	border: 1px solid transparent;
}

ul.playlist li .functions .active a {
	background: 0 0 !important;
	border: 1px solid transparent;
	border: 1px solid rgba(174, 174, 174, 0.800);
	/*+box-shadow: 1px 2px 5px 1px rgba(60, 60, 60, 0.888);*/
	-moz-box-shadow: 1px 2px 5px 1px rgba(60, 60, 60, 0.888);
	-webkit-box-shadow: 1px 2px 5px 1px rgba(60, 60, 60, 0.888);
	box-shadow: 1px 2px 5px 1px rgba(60, 60, 60, 0.888);
	color: rgba(22, 22, 22, 0.737);
	background: rgba(204, 204, 204, 0.668);
}

/**/
.playlist {
	margin: 0;
	background-color: rgba(112, 43, 229, 0.405);
	border-radius: 15px;
}

ul.playlist {
	list-style-type: none;
	margin: 0;
	padding: 1px 10px 6px;
	position: relative;
	width: 100%;
	z-index: 0;
	border: 1px solid rgba(53, 47, 155, 0.487);
	/*+box-shadow: 0 5px 5px 1px rgba(21, 21, 21, 0.198);*/
	-moz-box-shadow: 0 5px 5px 1px rgba(21, 21, 21, 0.198);
	-webkit-box-shadow: 0 5px 5px 1px rgba(21, 21, 21, 0.198);
	box-shadow: 0 5px 5px 1px rgba(21, 21, 21, 0.198);
}

/**/
/**/
/**/
/**/
/**/
/**/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
	margin: 0 0 8px 0;
	padding: 0;
	font-size: 15px;
	direction: ltr;
}

body {
	background: rgba(0, 0, 0, 0.444) !important;
}

body:after {
	content: " ";
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 0;
	opacity: 0.7;
	-webkit-transition: all 1s;
	background: #000 url(https://images.hearthis.at/c/r/o/_/uploads/12410/image_set_bg/134177/w800_h800_btrue_c000000_q50_m1579526691----cropped_1579369815604.jpg) center center no-repeat;
	background-position: center !important;
	background-size: cover !important;
	/*visibility: hidden;*/
}
